name: Cypress Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    env:
      CYPRESS_correctUser: ${{ secrets.CYPRESS_correctUser }}
      CYPRESS_correctPwd: ${{ secrets.CYPRESS_correctPwd }}
      CYPRESS_incorrectUser: ${{ secrets.CYPRESS_incorrectUser }}
      CYPRESS_incorrectPwd: ${{ secrets.CYPRESS_incorrectPwd }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress tests
        run: npx cypress run
